<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/login.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="rows">
        <h1>Log in</h1>
        <input type="text" placeholder="EMAIL" id="loginEmail">
        <input type="password" placeholder="PASSWORD" id="loginPassword">
        <button id="loginBtn">LOG IN</button>
    </div>

    <script type="module" src="../controllers/login_controller.js"></script>
</body>

</html>